<p>Prof. Anderson (a.k.a. "Prof Ganderson") Is a Professor in the Information Systems Department</p>
<p>Pop Quiz: We love him because?</p>
<ul>
    <li>A: The flowing locks he had when he was growing up</li>
    <li>B: He can pound a pound of bacon</li>
    <li>C: His exams are so easy?</li>
    <li>D: He is just an awesome person who cares about everyone around him </li>
    <li>E: All of the above</li>
</ul>
